.landing__header {
  background: $main-color;
  color: #fff;
  font-size: 30px;
  padding: 25px;
  animation: slide_in 1.5s;
  overflow: hidden;
}

@keyframes slide_in {
  0% {
    max-height: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    max-height: 300px;
  }
}

.landing__header-logo {
  width: 100px;
}
