@keyframes slide_in {
  0% {
    max-height: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    max-height: 2000px;
  }
}

.registration__container {
  overflow: hidden;
  animation: slide_in 1.5s;
}

.registration__header {
  background: $main-color;
  color: #fff;
  font-size: $font-xl;
  padding: 25px;
  text-align: center;
}

.registration__header-logo {
  width: 100px;
  margin: auto;
}

@media screen and (max-width: 750px) {
  .registration__header-logo {
    display: block !important;
  }
}
